h1, h2, h3, h4, h5, a, p, li {
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 60px;

    align-items: center;
}

img{
    margin: 0 auto;
    display: block;
}

p,
li {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.full {
    max-width: 1440px;
    width: 100%;

}
body, html {
    margin-left: 150px;
    margin-right: 150px;
    display: block;
}

.Программирование1{
    font-weight: bold;
}

.Программирование2{
    font-style: italic;
}


